export(rd3_multigraph)
export(evolNetwork_rd3)
export(network_rd3)
export(timeline_rd3)
export(barplot_rd3)
export(gallery_rd3)
S3method(print, network_rd3)
S3method(print, barplot_rd3)
S3method(print, timeline_rd3)
S3method(print, gallery_rd3)
S3method(plot, network_rd3)
S3method(plot, barplot_rd3)
S3method(plot, timeline_rd3)
S3method(plot, gallery_rd3)
export(shiny_rd3)
S3method(shiny_rd3, network_rd3)
S3method(shiny_rd3, barplot_rd3)
S3method(shiny_rd3, timeline_rd3)
export(rd3_toIgraph)
export(rd3_fromIgraph)
export(rd3_layoutCircle)
export(rd3_layoutGrid)
importFrom(graphics, plot, text)
importFrom(grDevices, hsv, col2rgb, rgb)
importFrom(utils, head, browseURL)
importFrom(stats, dist)
