@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
a {
  color: #2f7bee;
  text-decoration: none;
}
p {
  margin: 0 0 8px;
}
h2 {
  font-size: 2em;
}
ul {
  list-style-type: none;
}
iframe{
  display: block;
  width: 100%;
  height: 100%;
}
button, input, select, .multi-select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 2px #c6c6c6;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 24px;
}
*:focus {
  outline: none;
}
::placeholder {
  color: #777777;
  opacity: 1;
}
button {
  cursor: pointer;
  overflow: hidden;
}
button.disabled {
  color: #777777;
  pointer-events: none;
}
button.primary {
  background-color: #2f7bee;
  color: #ffffff;
  border: none;
}
button.primary-outline {
  background-color: #ffffff;
  color: #2f7bee;
  border-color: #2f7bee;
}
button.primary.disabled,
button.primary-outline.disabled {
  opacity: 0.5;
  pointer-events: none;
}
button.primary,
button.primary-outline {
  border-top-left-radius: 0;
}
button.primary:hover,
button.primary-outline:hover {
  filter: brightness(120%);
}
button.switch-button {
  width: 22px;
  height: 14px;
  border-radius: 10px;
  background-color: #777777;
  border: none;
  vertical-align: middle;
  padding: 0;
}
button.switch-button:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 1px #777777;
}
button.switch-button.active {
  background-color: #2f7bee;
}
button.switch-button.active:after {
  margin-left: 8px;
  border-color: #2f7bee;
}

.radio-item {
  position: relative;
  display: block;
  padding-left: 24px;
  cursor: pointer;
}
.radio-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 1px #000000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: 4px;
}
.radio-item.selected-item:before {
  border: solid 4px #2f7bee;
}

.grid-gallery-mode2 {
  background-color: #e7f1fd;
  border-radius: 0 0 150px 0;
  padding: 40px 0;
  text-align: center;
}
.grid-gallery-mode2 > .gallery-items > h3 {
  font-size: 1.6em;
  margin-top: 16px;
}
.grid-gallery-mode2 > .gallery-items > .item-card {
  margin: 40px;
  display: inline-block;
  text-align: left;
  background-color: transparent;
  width: 305px;
  height: 388px;
  perspective: 1000px;
}
.grid-gallery-mode2 > .gallery-items > .item-card > .item-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  backface-visibility: hidden;
  background-color: #dee5ed;
  padding: 24px;
  border-radius: 10px;
}
.grid-gallery-mode2 > .gallery-items > .item-card > .item-card-inner > span.title {
  font-weight: 700;
  font-size: 1.25em;
  height: 34px;
  display: block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  margin-right: 32px;
}
.grid-gallery-mode2 > .gallery-items > .item-card > .item-card-inner > span.subtitle {
  display: block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  margin-top: 8px;
}
.grid-gallery-mode2 > .gallery-items > .item-card > .item-card-inner > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 90%, #dee5ed);
  pointer-events: none;
}
.grid-gallery-mode2 > .gallery-items > .item-card > .item-card-inner > .card-check.check-box {
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
}
.grid-gallery-mode2 > .gallery-items > .item-card > .item-card-inner > .img-wrapper {
  height: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-gallery-mode2 > .gallery-items > .item-card > .item-card-inner > .img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.check-box {
  border: solid 1px #000000;
  display: inline-block;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.selected .check-box {
  background-color: #2f7bee;
  border-color: #2f7bee;
}
.selected .check-box:after {
  content: "";
  display: block;
  margin: 0 0 0 8px;
  width: 6px;
  height: 16px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fixed-topbar > .topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 32px);
  z-index: 1;
  padding: 8px 16px;
}
.fixed-topbar > .topbar > .topbar-topcontent {
  float: right;
  padding: 0;
}
.fixed-topbar > .topbar > .topbar-topcontent > .topbar-main {
  display: none;
}
.fixed-topbar > .topbar > .topbar-topcontent > .topbar-buttons {
  margin: 0;
}
.fixed-topbar > .topbar > .breadcrumbs {
  float: left;
}
.topbar {
  padding: 16px;
  background-color: #2f7bee;
  color: #ffffff;
}
.topbar > .topbar-topcontent {
  padding: 24px 0;
}
.topbar > .topbar-topcontent > .topbar-main {
  float: left;
  margin: 8px 0;
}
.topbar > .topbar-topcontent > .topbar-main > div > button.multipages-home {
  margin: 0 16px 0 0;
}
.topbar > .topbar-topcontent > .topbar-main > a > h1 {
  display: inline-block;
  font-size: 2em;
  color: #ffffff;
}
.topbar > .topbar-topcontent > .topbar-buttons {
  float: right;
  margin: 8px 0;
}
.topbar > .topbar-topcontent > .topbar-main > div,
.topbar > .topbar-topcontent > .topbar-buttons > div {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
}
.topbar > .topbar-topcontent > .topbar-clear {
  clear: both;
}
:not(.fixed-topbar) > .topbar > .topbar-topcontent > .topbar-buttons > div.pagination {
  display: none;
}
.topbar > .topbar-topcontent > .topbar-buttons > div.pagination > span {
  display: inline-block;
  padding: 14px 16px;
}
.topbar > .topbar-topcontent > .topbar-buttons > div.topbar-search {
  display: none;
  margin: 0 0 0 16px;
  width: 233px;
}
.topbar > .topbar-tag-container {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 16px;
}
.topbar > .topbar-tag-container > .tag {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  display: inline-block;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
}
.topbar > .topbar-tag-container > .tag:after {
  content: "\D7";
  margin-left: 8px;
  font-weight: bold;
}

.topbar-button, .multi-select {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: none;
  margin: 0 0 0 16px;
  padding: 14px 16px;
}
.fixed-topbar .topbar-button.excel-export {
  display: none;
}
.topbar-button.filter-selection {
  position: relative;
}
.topbar-button.filter-selection > span {
  border-radius: 50%;
  background-color: #2f7bee;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 16px;
  font-size: 0.8em;
  animation: myhighlight 1s 10;
}
@keyframes myhighlight {
  from {opacity: 0.25;}
  to {opacity: 1;}
}
.topbar-button.filter-selection.disabled > span {
  display: none;
}
.topbar-button.filter-selection.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.display-filterpanel {
  overflow: hidden;
}
.display-filterpanel > .filterpanel {
  display: block;
}
.filterpanel {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.filterpanel > .filter-side-panel {
  background-color: #d9d9d9;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .filterpanel > .filter-side-panel {
    width: 400px;
  }
}
.filterpanel > .filter-side-panel > .side-panel-content{
  flex-grow: 1;
  overflow-y: auto;
}
.filterpanel > .filter-side-panel > .side-panel-content > div {
  width: calc(100% - 96px);
  display: inline-block;
  padding: 0 24px;
  margin: 16px 24px;
}
.filterpanel > .filter-side-panel > .side-panel-content > div:last-child {
  border: none;
}
.filterpanel > .filter-side-panel > .side-panel-content > div > span {
  color: #000000;
  font-size: 1.25em;
}
.filterpanel > .filter-side-panel > .side-panel-content > div > span.plus-minus-button {
  float: right;
  cursor: pointer;
}
.filterpanel > .filter-side-panel > .side-panel-content > div > .items-container {
  padding: 16px 0;
}
.filterpanel > .filter-side-panel > .side-panel-content > div > .items-container > .tag {
  background-color: #ffffff;
  border-radius: 8px;
  display: inline-block;
  padding: 8px 16px;
  margin: 0 8px 8px 0;
  cursor: pointer;
}
.filterpanel > .filter-side-panel > .side-panel-content > div > .items-container > .tag.tag-selected {
  background-color: #777777;
  color: #ffffff;
}
.filterpanel > .filter-side-panel > .side-panel-content > div > .items-container > .tag:hover {
  background-color: #000000;
  color: #ffffff;
}
.filterpanel > .filter-side-panel > .side-panel-header {
  padding: 16px 24px;
  font-size: 1em;
  line-height: 0.5;
}
.filterpanel > .filter-side-panel > .side-panel-bottom {
  text-align: center;
  padding: 8px 16px;
}
.filterpanel > .filter-side-panel > .side-panel-content > .order-container > .items-container > .rev-order {
  text-align: right;
}
.filterpanel > .filter-side-panel > .side-panel-content > .order-container > .items-container > .rev-order > span {
  margin-right: 8px;
}

.footer {
  background-color: #2f7bee;
  padding: 72px 144px;
  color: #ffffff;
}
.footer > .footer-logo1 {
  text-align: center;
}
.footer > .footer-logo1 > .no-note {
  font-size: 2.5em;
}
.footer > .footer-logo2 > svg {
  width: 64px;
  height: 48px;
  margin-bottom: -16px;
}
.footer > .footer-logo2 {
  text-align: center;
  font-size: 2em;
  margin-top: 24px;
}
.footer > .footer-logo2 > span.pagination {
  display: none;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .topbar-search {
    display: inline-block !important;
  }
  .show-search-container {
    display: none !important;
  }
  .topbar {
    padding: 16px 144px;
  }

  .footer {
    display: flex;
  }
  .footer > .footer-logo1 {
    text-align: left;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
  }
  .footer > .footer-logo2 {
    text-align: right;
    margin: 0;
    margin-left: 16px;
  }
}

.fixed-footer > .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 32px);
  z-index: 1;
  padding: 8px 16px;
}
.fixed-footer > .footer > .footer-logo1 > .no-note {
  font-size: 1em;
}
.fixed-footer > .footer > .footer-logo2 {
  font-size: 16px;
  white-space: nowrap;
}
.fixed-footer > .footer > .footer-logo2 > svg {
  width: 32px;
  height: 24px;
    margin-bottom: -8px;
}
:not(.fixed-topbar).fixed-footer > .footer > .footer-logo2 > span.pagination {
  display: inline;
}

/* multi search */
.multi-search {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 0;
  border: none;
  margin: 0;
  height: 56px;
}
.multi-search > button {
  border: none;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  padding: 18px;
}
.multi-search > button.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.multi-search > button.search-icon > svg > path{
  fill: #2f7bee;
}
.multi-search > button.search-icon.disabled > svg > path{
  fill: #777777;
}
.multi-search > .search-box {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  background-color: #ffffff;
}
.multi-search > .search-box > div.check-container {
  position: absolute;
  margin-top: 10px;
  height: 20px;
  width: 20px;
  overflow: hidden;
}
.multi-search > .search-box > div.check-container > span {
  display: block;
  height: 32px;
}
.multi-search > .search-box > div.check-container > span.yes:after {
  content: "";
  display: block;
  margin: 0 0 0 6px;
  width: 4px;
  height: 8px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.multi-search > .search-box > div.text-wrapper {
  padding: 12px 40px 12px 20px;
  line-height: 2;
}
.multi-search > .search-box > div.text-wrapper > div.text-content {
  overflow: hidden;
}
.multi-search > .search-box > div.text-wrapper > div.text-content > textarea {
  height: 25px;
  line-height: 2;
  font-size: 1em;
  width: 99999px;
  border: none;
  margin: 0;
  padding: 0;
  resize: none;
}
.multi-search > .search-box > p {
  margin: 2px;
  color: #777777;
  text-align: center;
  display: none;
}
.multi-search > .search-box.focused > div.text-wrapper > div.text-content > textarea {
  height: 300px;
}
.multi-search > .search-box.focused > div.check-container {
  height: 300px;
}
.multi-search > .search-box.focused > p {
  display: block;
}
.multi-search:after {
  content: '';
  display: block;
  clear: both;
}

/* simple search */
.simple-search {
  position: relative;
}
.simple-search > .search-box {
  border: none;
  margin-bottom: 16px;
}
.simple-search > .search-icon {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}

/* slider */
.slider-tray {
  position: absolute;
  width: 100%;
  height: 14px;
  border-radius: 7px;
  background-color: #777777;
}
.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #777777;
  position: absolute;
  border-radius: 10px;
  background-color: #ffffff;
  top: -4px;
  left: -7px;
  cursor: pointer;
}
.slider-extent {
  position: absolute;
  display: block;
  height: 14px;
  opacity: .8;
  background-color: #2f7bee;
}
.slider-min, .slider-max, .slider-text {
  position: absolute;
  display: block;
  color: #000000;
  line-height: 1.333;
  padding: 1px 3px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
}
.slider-text {
  display: none;
  border: solid 1px #c6c6c6;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 8px;
}
.slider-text input {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1px;
  left: 1px;
}

.topbar > .breadcrumbs {
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
}
.topbar > .breadcrumbs > button.primary {
  background: none;
  border-radius: 0;
  display: inline-block;
  opacity: 0.6;
  border-bottom: 4px solid transparent;
  flex-grow: 1;
  flex-basis: 0;
  color: #ffffff;
  white-space: nowrap;
  font-weight: bold;
}
.topbar > .breadcrumbs > button.primary.disabled {
  opacity: 1;
  border-bottom-color: #ffffff;
}
.topbar > .breadcrumbs > span {
  display: inline-block;
  padding: 16px 24px;
}
.topbar > .breadcrumbs > button.primary.return {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0cHgiIGZpbGw9IiMwMDAwMDAiPjxnPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iMjQiIHdpZHRoPSIyNCIvPjwvZz48Zz48cGF0aCBkPSJNMiwxMmMwLDUuNTIsNC40OCwxMCwxMCwxMHMxMC00LjQ4LDEwLTEwYzAtNS41Mi00LjQ4LTEwLTEwLTEwQzYuNDgsMiwyLDYuNDgsMiwxMnogTTEyLDExbDQsMHYybC00LDBsMCwzbC00LTRsNC00TDEyLDExIHoiLz48L2c+PC9zdmc+);
}
.topbar > .breadcrumbs > button.primary.home {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xMCAyMHYtNmg0djZoNXYtOGgzTDEyIDMgMiAxMmgzdjh6Ii8+PC9zdmc+);
}
.topbar > .breadcrumbs > button.primary.return,
.topbar > .breadcrumbs > button.primary.home {
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.topbar > .breadcrumbs > button.primary.return:hover,
.topbar > .breadcrumbs > button.primary.home:hover {
  opacity: 1;
}
.topbar > .breadcrumbs > button.primary.empty{
  pointer-events: none;
}
.topbar > .breadcrumbs > button.primary.blinkblink {
  animation: blinkblink 1s infinite;
}
@keyframes blinkblink {
  from {opacity: 0.25;}
  to {opacity: 1;}
}

.breadcrumbs + .topbar-tag-container {
  width: 100%;
  margin-top: 8px;
}

.buttons-popup,
.template-buttons-popup {
  background-color: #ffffff;
  padding: 8px 16px;
  font-size: 1.2em;
  line-height: 1.5;
}
.buttons-popup {
  position: absolute;
  z-index: 14;
  border-radius: 12px;
  max-width: 264px;
}
.buttons-popup > button,
.template-buttons-popup > button,
.window-content > .type-buttons > button {
  margin: 8px;
}

/* display window */
div.window-background {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 12;
}
div.window {
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 30px;
}
div.window h2 {
  font-size: 1.8em;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: center;
}
div.window h3 {
  font-size: 1.4em;
  padding-bottom: 10px;
  font-weight: bold;
}
div.window > .window-content {
  width: 100%;
  overflow-y: auto;
}
p.window-message {
  font-size: 1.6em;
  text-align: center;
}

/* close button */
.close-button {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 0;
}
.close-button:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '\D7';
  color: #000000;
  line-height: 1.5;
  font-size: 32px;
  margin-left: 15px;
}

/* main frame */
.mainframe-background {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.mainframe-background > .mainframe {
  position: relative;
  max-width: 690px;
  max-height: 856px;
  margin: 0 auto;
  margin-top: 48px;
  background-color: #ffffff;
  border-radius: 0 0 20px 0;
}
.mainframe-background > .mainframe > .mainframe-content {
  padding: 40px 56px;
  height: calc(100% - 80px);
}
.mainframe-background > .mainframe > button.right-button,
.mainframe-background > .mainframe > button.left-button,
.mainframe-background > .mainframe > button.left2-button {
  width: 24px;
  height: 32px;
  padding: 0;
  margin: 0 16px;
  border: none;
  background-color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
}
.mainframe-background > .mainframe > button.left2-button {
  left: 0;
  transform: translateY(-175%);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCA2LjM1IDEyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTMuODQgMTAuMDEzYS41My41MyAwIDAgMCAuMzI1LS40OXYtNi4zNWEuNTMuNTMgMCAwIDAtLjkwMi0uMzcyTC4wODcgNS45NzRhLjUzLjUzIDAgMCAwIDAgLjc0OGwzLjE3NyAzLjE3NmEuNTMuNTMgMCAwIDAgLjU3Ni4xMTV6Ii8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTYuMDkxIDEwLjAxM2EuNTMuNTMgMCAwIDAgLjMyNi0uNDl2LTYuMzVhLjUzLjUzIDAgMCAwLS45MDItLjM3MkwyLjMzOSA1Ljk3NGEuNTMuNTMgMCAwIDAgMCAuNzQ4bDMuMTc3IDMuMTc2YS41My41MyAwIDAgMCAuNTc2LjExNXoiLz48L3N2Zz4=);
}
.mainframe-background > .mainframe > button.left-button {
  left: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCA2LjM1IDEyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTQuOTY1IDEwLjAxM2EuNTMuNTMgMCAwIDAgLjMyNi0uNDl2LTYuMzVhLjUzLjUzIDAgMCAwLS45MDItLjM3MkwxLjIxMyA1Ljk3NGEuNTMuNTMgMCAwIDAgMCAuNzQ4TDQuMzkgOS44OThhLjUzLjUzIDAgMCAwIC41NzYuMTE1WiIvPjwvc3ZnPg==)
}
.mainframe-background > .mainframe > button.right-button {
  right: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCA2LjM1IDEyLjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEuMzg1IDIuNjg2YS41My41MyAwIDAgMC0uMzI2LjQ5djYuMzVhLjUzLjUzIDAgMCAwIC45MDIuMzcybDMuMTc2LTMuMTczYS41My41MyAwIDAgMCAwLS43NDhMMS45NiAyLjhhLjUzLjUzIDAgMCAwLS41NzYtLjExNVoiLz48L3N2Zz4=);
}
.mainframe-background > .mainframe:hover > button.right-button,
.mainframe-background > .mainframe:hover > button.left-button,
.mainframe-background > .mainframe:hover > button.left2-button {
  opacity: 0.75;
}

/* info template */
.info-template {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: justify;
}
.info-template > h2 {
  margin-bottom: 8px;
}
.info-template > div {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 56px;
  margin: 0 -56px;
}
.info-template > div > img {
  float: right;
  margin: 0 0 16px 16px;
  width: 50%;
}
.info-template > div > .tree-relatives > span.linked {
  color: #2f7bee;
  cursor: pointer;
}

/* loading icon */
.loading-icon > span,
.loading-icon > svg {
  display: inline-block;
  width: 33%;
}
.loading-icon > span:last-child {
  text-align: right;
}

/* multi-select */
.multi-select {
  display: inline-block;
  position: relative;
  margin: 0 16px 0 0;
}
.multi-select > img {
  display: none;
}
.multi-select > span {
  display: none;
}
.multi-select > select {
  position: absolute;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  margin: -8px 0 0 -16px;
}
